.input-group {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.input-group .input-area {
  box-sizing: border-box;
  /* padding: 0.75rem 0.5rem; */
  width: 100%;
  z-index: 3;
}

.login-from {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  box-shadow: 0 3px 8px rgb(0 0 0 / 24%);
  border-radius: 1rem;
  padding: 0 1rem;
  display: flex;
  min-height: 580px;
}
.button-bold-style{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.vertical-line{
    height: 50vh;
    border-left: 1px solid var(--light-grey1);
}


.login-box-position{
    margin: 6vh auto;
}

.error-message{
    color: var(--darkred);
    font-size: 14px;
    margin-left: 5px
}

@media only screen and (max-width: 750px) {
    .vertical-line{
       display: none;
    }
    .login-info-box{
        display: none;
    }
    .login-from {
        width: 100%;
        max-width: 90vw;
        box-shadow: none;
        min-height: 380px;
    }
    .login-box-position{
        margin: 0vh auto;
    }
    .signup-box-position{
        margin: 9vh auto;
    }
  }
  
